* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
}

header {
  background-color: #333;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header .logo img {
  width: 50px;
  vertical-align: middle;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

header ul li {
  margin: 0 1rem;
}

header ul li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.hero {
  background-color: #002b5c;
  color: white;
  padding: 50px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  overflow: hidden;
}

.carousel img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}


